.footer{ /* Header Var Colors */
    --green: #39DB4A;
    --black: #272727;
    --white: #FFF;
    --lightGreen: lightgreen;
    --font: Inter;
    --grey: #555;
}

/* Footer Style Starts */
.footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.footer .follow-us-section{
    display: flex;
    justify-content: space-around;
}

.follow-us-section .logo-about{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.logo-about .website-logo-card{
    display: flex;
    align-items: center;
}

.follow-us-section .logo-about .about{
    color: #555;
    font-family: Inter;
    font-size: 24px;
    line-height: 150.523%; /* 36.125px */
}


@media (max-width: 576px){
    .footer .follow-us-section{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .follow-us-section .logo-about{
        width: 100%;
    }

    .follow-us-section .logo-about .about{
        font-size: 18px;
    }
}


@media (min-width: 576px) and (max-width: 768px){
    .footer .follow-us-section{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .follow-us-section .logo-about{
        width: 100%;
    }

    .follow-us-section .logo-about .about{
        font-size: 18px;
    }
}

.follow-us-section .useful-link{
    display: flex;
    flex-direction: column;
    line-height: 2;
    margin-top: 0;
}

.useful-link p{
    color: #000;
    font-family: Inter;
    font-size: 26px;
    font-weight: 600;
    margin-top: 0;
}

.useful-link li a{
    color: #555;
    font-family: Inter;
    font-size: 24px;
    text-decoration: none;
}

@media (max-width: 576px){
    .useful-link p{
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 10px;
    }

    .useful-link li a{
        font-size: 16px;
    }
}


@media (min-width: 576px) and (max-width: 768px){
    .follow-us-section .useful-link{
        margin: 0 10px 0 10px;
    }

    .useful-link p{
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 10px;
    }

    .useful-link li a{
        font-size: 16px;
    }
}

.footer .social-media-copyright{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-copyright .social-media{
    display: flex;
    align-items: center;
}

.social-media .social-icon-card{
    margin: 0 5px 0 5px;
    width: 58px;
    height: 57px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.social-media .active{
    background-color: var(--green);
}

.social-media .in-active{
    background-color: var(--white);
}

.social-media-copyright .copy-right{
    margin: 0 10px 0 80px;
}

.social-media-copyright .copy-right p{
    color: var(--grey);
    font-family: Inter;
    font-size: 22px;
}

@media (max-width: 576px){
    .footer .social-media-copyright{
        flex-direction: column;
        align-items: center;
    }

    .social-media .social-icon-card{
        width: 50px;
        height: 50px; 
    }

    .social-media .social-icon-card img{
        width: 30px;
        height: 30px;   
    }

    .social-media-copyright .copy-right{
        margin: 0;
    }

    .social-media-copyright .copy-right p{
        font-size: 16px;
    }
}

@media (min-width: 576px) and (max-width:768px){
    .footer .social-media-copyright{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .social-media .social-icon-card{
        width: 50px;
        height: 50px; 
    }

    .social-media .social-icon-card img{
        width: 30px;
        height: 30px;   
    }

    .social-media-copyright .copy-right{
        margin: 0;
    }

    .social-media-copyright .copy-right p{
        font-size: 16px;
    }
}
/* Footer Style Ends */