.our-story{
    --green: #39DB4A;
    --red: #FF6868;
    --black: #000;
    --grey: #555;
    --white: #FFF;
}
/* Our Story Styling Starts */

.our-story{
    display: flex;
    align-items: center;
    padding: 50px;
}

.our-story-card{
    display: flex;
    flex-direction: column;
    font-family: Inter;
    width: 45%;
}

.our-story-card .title{
    color: var(--red);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3.5px;
}

.our-story-card .story-heading{
    color: var(--black);
    font-size: 60px;
    font-weight: 700;
}

.our-story-card .story-description{
    color: var(--grey);
    font-size: 26px;
    line-height: 160%; /* 41.6px */
}

.our-story-card .explore-btn{
    width: 215px;
    height: 80px;
    border-radius: 40px;
    background-color: var(--green);
    color: var(--white);
    font-size: 26px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

.our-story-card .explore-btn:hover{
    box-shadow: 1px 1px 10px 2px var(--grey);
    border: 0.1px solid var(--white);
}

@media (max-width: 576px){
    .our-story{
        flex-direction: column;
        padding: 20px;
        align-items: flex-start;
    }

    .our-story-card{
        width: 100%;
    }

    .our-story-card .title{
        font-size: 18px;
    }

    .our-story-card .story-heading{
        font-size: 28px;
        margin: 0;
    }

    .our-story-card .story-description{
        font-size: 18px;
    }

    .our-story-card .explore-btn{
        width: 100%;
        height: 50px;
        font-size: 24px;
        cursor: pointer;
    }
}


@media (min-width: 576px) and (max-width: 992px){
    .our-story{
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    .our-story-card{
        width: 100%;
        align-items: center;
    }

    .our-story-card .title{
        font-size: 18px;
        text-align: center;
    }

    .our-story-card .story-heading{
        font-size: 28px;
        margin: 0;
        text-align: center;
    }

    .our-story-card .story-description{
        font-size: 18px;
        text-align: center;
    }

    .our-story-card .explore-btn{
        width: 50%;
        height: 50px;
        font-size: 24px;
    }
}

.our-story .our-services-ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}

.our-services-ul .our-services-li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 277px;
    height: 297.145px;
    margin: 10px;
    border-radius: 30px;
    background-color: var(--white);
    box-shadow: 7px 12px 43px 0px rgba(0, 0, 0, 0.14);
}

.our-services-li .li-title{
    color: #5FE26C;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.our-services-li .li-para{
    color: #90BD95;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 576px){
    .our-story .our-services-ul{
        width: 100%;
        justify-content: space-around;
    }

    .our-services-ul .our-services-li{
        width: 145px;
        height: 200px;
        margin: 6px;
    }

    .our-services-li img{
        width: 45px;
    }

    .our-services-li .li-title{
        font-size: 18px;
        margin: 5px 0 5px 0;
    }
    .our-services-li .li-para{
        font-size: 14px;
        padding: 5px;
    }
}


@media (min-width: 576px) and (max-width: 992px){
    .our-story .our-services-ul{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .our-services-ul .our-services-li{
        width: 145px;
        height: 200px;
        margin: 6px;
    }

    .our-services-li img{
        width: 45px;
    }

    .our-services-li .li-title{
        font-size: 18px;
        margin: 5px 0 5px 0;
    }
    .our-services-li .li-para{
        font-size: 14px;
        padding: 5px;
    }
}


/* Our Story Styling Ends */