.popular-catagories{
    --red: #FF6868;
    --white: #EFEFEF;
    --milkyWhite: #FFF;
    --green: #39DB4A;
    --black: #000;
    --grey: #555;
}
/* Popular Catagories Styling Start */

.popular-catagories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px){
    .popular-catagories{
        width: 100%;
    }
}


@media (min-width: 576px) and (max-width: 992px){
    .popular-catagories{
        width: 100%;
        margin-top: 60px;
    }
}

.popular-catagories p{
    color: var(--red);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3.5px;
    margin-bottom: 0;
}

.popular-catagories h1{
    color: var(--black);
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    margin-top: 20px;
}

.popular-catagories .all-cards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width:576px){
    .popular-catagories p{
        font-size: 16px;
    }

    .popular-catagories h1{
        font-size: 30px;
        margin-bottom: 0;
    }
}

@media (min-width: 576px) and (max-width: 992px){
    .popular-catagories p{
        font-size: 22px;
    }

    .popular-catagories h1{
        font-size: 36px;
        margin-bottom: 0;
    }
}


.popular-catagories .all-cards .each-card{
    margin: 8px;
    width: 300px;
    height: 280px; 
    background-color: var(--milkyWhite); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: 2px 10px 30px 0px rgba(0, 0, 0, 0.10);
}

.each-card .card-image{
    width: 153px;
    height: 153px; 
    background-color: #C1F1C6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.each-card h1{
    color: #1E1E1E;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.each-card p{
    color: var(--grey);
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    margin-top: 0;
}

@media (max-width: 576px){
    .popular-catagories .all-cards{
        width: 98%;
    }

    .popular-catagories .all-cards .each-card{
        width: 150px;
        height: 200px;
        border-radius: 40px;
    }
    
    .each-card .card-image{
        width: 100px;
        height: 100px;
    }

    .each-card .card-image img{
        width: 80px;
        height: 80px;
    }

    .each-card h1{
        font-size: 18px;
    }

    .each-card p{
        font-size: 12px;
    }
}


@media (min-width: 576px) and (max-width: 992px){
    .popular-catagories .all-cards{
        width: 98%;
    }

    .popular-catagories .all-cards .each-card{
        width: 170px;
        height: 260px;
        border-radius: 34px;
        margin: 4px;
    }
    
    .each-card .card-image{
        width: 100px;
        height: 100px;
    }

    .each-card .card-image img{
        width: 100px;
        height: 100px;
    }

    .each-card h1{
        font-size: 22px;
    }

    .each-card p{
        font-size: 14px;
    }
}

/* Popular Catagories Styling Ends */