/* Common Styling Starts */
body{
    box-sizing: border-box;
    margin: 0;
    --headerBlack : #020305;
    --white: #FFF;
    --headerBgBlack: #0D0F12;
    --fontFamiliy: Plus Jakarta Sans;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Common Styling Ends */




/* Header Section Styling Starts */
.header{
    width: 94vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 32px;
    background-color: rgb(255,255,255, 0.6);
}

@media (min-width: 769px) and (max-width: 992px){
    .header{
        padding: 30px;
    }
}

@media (min-width: 578px) and (max-width: 768px){
    .header{
        padding: 20px;
    }
}

@media (max-width: 576px){
    .header{
        padding: 10px;
    }
}

/* Header Section Logo Design Styling Starts */
.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 993px){
    .logo-section .logo{
        width: 200px;
    }
}

@media (min-width: 578px) and (max-width: 992px){
    .logo-section .logo{
        width: 150px;
    }
}

@media (max-width: 576px){
    .logo-section .logo{
        width: 130px;
    }
}

/* Header Section Logo Design Styling Ends*/

/* Header Section Nav Button Styling Starts */
.nav-button-ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20px;
}

@media (max-width: 576px){
    .nav-button-ul{
        display: none;
    }
}

.nav-button-ul .nav-button{
    background-color: transparent;
    border: 0;
    color: var(--headerBlack);
    font-family: var(--fontFamiliy);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.nav-button-ul .nav-button-sign-in{
    cursor: pointer;
    padding: 16px 40px; 
    background-color: var(--headerBgBlack);
    border: 0;
    color: var(--white);
    font-family: var(--fontFamiliy);
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
    box-shadow: 0px 19px 45px -10px rgba(13, 15, 18, 0.50);
}

@media (max-width: 992px){
    .nav-button-ul .nav-button{
        font-size: 16px;
    }
    .nav-button-ul .nav-button-sign-in{
        font-size: 14px;
        padding: 14px 30px; 
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .nav-button-ul .nav-button{
        font-size: 14px;
    }
    .nav-button-ul .nav-button-sign-in{
        font-size: 14px;
        padding: 12px 20px; 
    }
}

@media (min-width: 578px) and (max-width: 768px){
    .nav-button-ul .nav-button{
        font-size: 12px;
    }
    .nav-button-ul .nav-button-sign-in{
        font-size: 12px;
        padding: 8px 16px; 
    }
}

/* Header Section Nav Button Styling Ends */

/* Header Section Nav Icon Links Styling Starts */
.header-nav-icon{
    position: relative;
    padding: 20px;
    cursor: pointer;
}

@media (min-width: 576px){
    .header-nav-icon{
        display: none;
    }
}

.header-nav-icon .nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon img{
    width: 24px;
}

.header-nav-icon .nav-link-ul{
    display: none;
    position: absolute;
    top: 10px;
    flex-direction: column;
    width: 130px;
}

.nav-link-ul li{
    text-align: center;
    margin: 8px 0;
    border-bottom: 1px solid var(--headerBlack);   
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.nav-link-ul .nav-link{
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-family: var(--fontFamiliy);
    color: var(--headerBlack);
    font-weight: 600;
    cursor: pointer;
}

.nav-button-ul .nav-link:hover{
    box-shadow: 2px 2px 8px #FFF;
}

.nav-link-ul .nav-link-sign-in{
    cursor: pointer;
    padding: 8px 20px; 
    background-color: var(--headerBgBlack);
    border: 2px solid var(--headerBlack);
    margin-bottom: 6px;
    color: var(--white);
    font-size: 16px;
    font-family: var(--fontFamiliy);
    font-weight: 600;
    border-radius: 12px;
    box-shadow: 0px 19px 45px -10px rgba(13, 15, 18, 0.50);
}

.header-nav-icon:hover .nav-link-ul{
    display: flex;
    right: 0;
    top: 35px;
}
/* Header Section Nav Icon Links Styling Ends */
/* Header Section Styling Ends */




/* Home Section Styling Starts */
.home{
    --headerBlack : #020305;
    --white: #FFF;
    --headerBgBlack: #0D0F12;
    --descriptionColor: #171E27;
    --iconBgColor: #A9C2CB;
    --fontFamiliy: Plus Jakarta Sans;
}

.home{
    position: relative;
    top: 120px;
    width: 90vw;
    height: 950px;
}

@media (min-width: 993px) and (max-width: 1200px){
    .home{
        top: 100px;
        height: 920px;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .home{
        top: 100px;
        height: 850px;
    }
}

@media (min-width: 578px) and (max-width: 768px){
    .home{
        top: 80px;
        height: 700px;
    }
}

@media (max-width: 576px){
    .home{
        top: 80px;
        height: 700px;
    }
}

/* Top Container Styling Starts */
.top-container{
    position: absolute;
    z-index: 1;
}

.top-container .container{
    position: relative;
}

.top-container .container img{
    position: absolute;
    z-index: 1;
    width: 98vw;
}

.top-container .container h1{
    position: absolute;
    z-index: 2;
    color: var(--white);
    font-family: var(--fontFamiliy);
    font-size: 64px;
    font-weight: 800;
    width: 410px;
    left: 20px;
}

@media (min-width: 993px) and (max-width: 1200px){
    .top-container .container h1{
        font-size: 55px;
    }  
}

@media (min-width: 769px) and (max-width: 992px){
    .top-container .container h1{
        width: 360px;
        font-size: 40px;
    }   
}

@media (min-width: 578px) and (max-width: 768px){
    .top-container .container h1{
        width: 350px;
        font-size: 32px;
    }   
}
 
@media (max-width: 576px){
    .top-container .container h1{
        width: 280px;
        font-size: 24px;
    }   
} 

/* Top Container Styling Ends */

/* Get Started Styling Starts */
.get-started-container{
    position: absolute;
    z-index: 2;
    top: 420px;
    left: 20px;
}

.get-started-container .container .description{
    color: var(--descriptionColor);
    font-family: var(--fontFamiliy);
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
    width: 30%;
    text-align: justify;
}

.get-started-container .container .get-started-watch-btn-card{
    display: flex;
    align-items: center;
}

.get-started-watch-btn-card .get-started-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: var(--headerBgBlack);
    box-shadow: 0px 19px 45px -10px rgba(13, 15, 18, 0.50);
    color: var(--white);
    font-family: var(--headerBgBlack);
    border-radius: 20px;
    padding: 26px 54px;
    font-size: 24px;
    font-weight: 600;
}

.get-started-watch-btn-card .Watch-the-video-btn{
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    color: var(--headerBlack);
    width: 25%;
}

.get-started-watch-btn-card .Watch-the-video-btn p{
    color: var(--headerBlack);
    font-family: var(--fontFamiliy);
    font-size: 24px;
    font-weight: 600;
    margin-right: 20px;
    margin-left: 30px;
}

@media (min-width: 1200px){
    .get-started-container{
        top: 450px;
        left: 20px;
    }
    .get-started-container .container .description{
        font-size: 20px;
        line-height: 36px;
        width: 35%;
        padding-right: 10px;
    } 
}

@media (min-width: 993px) and (max-width: 1200px){
    .get-started-container{
        top: 450px;
        left: 20px;
    }

    .get-started-container .container .description{
        font-size: 20px;
        line-height: 33px;
        width: 40%;
        padding-right: 10px;
    } 

    .get-started-watch-btn-card .get-started-btn{
        border-radius: 20px;
        padding: 20px 52px;
        font-size: 24px;
    }

    .get-started-watch-btn-card .Watch-the-video-btn{
        justify-content: center;
    }

    .get-started-watch-btn-card .Watch-the-video-btn p{
        font-size: 22px;
        margin-right: 10px;
        margin-left: 0;
    }

    .get-started-watch-btn-card .Watch-the-video-btn div img{
        width: 36px;
        height: 36px;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .get-started-container{
        top: 390px;
        left: 20px;
    }

    .get-started-container .container .description{
        font-size: 18px;
        line-height: 33px;
        width: 40%;
        padding-right: 10px;
        text-align: justify;
    } 

    .get-started-watch-btn-card .get-started-btn{
        border-radius: 18px;
        padding: 18px 48px;
        font-size: 22px;
    }

    .get-started-watch-btn-card .Watch-the-video-btn{
        justify-content: center;
    }

    .get-started-watch-btn-card .Watch-the-video-btn p{
        font-size: 20px;
        margin-right: 10px;
        margin-left: 0;
    }

    .get-started-watch-btn-card .Watch-the-video-btn div img{
        width: 34px;
        height: 34px;
    }
}

@media (min-width: 578px) and (max-width: 768px){
    .get-started-container{
        top: 350px;
        left: 20px;
    }

    .get-started-container .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .get-started-container .container .description{
        font-size: 16px;
        line-height: 30px;
        width: 40%;
        padding-right: 10px;
        text-align: justify;
    }

    .get-started-container .container .get-started-watch-btn-card{
        align-self: flex-end;
    }

    .get-started-container .container .get-started-watch-btn-card{
        flex-direction: column;
    }   

    .get-started-watch-btn-card .get-started-btn{
        border-radius: 16px;
        padding: 16px 46px;
        font-size: 20px;
    }

    .get-started-watch-btn-card .Watch-the-video-btn{
        width: 80%;
        justify-content: center;
    }

    .get-started-watch-btn-card .Watch-the-video-btn p{
        font-size: 16px;
        margin-right: 8px;
        margin-left: 0;
    }

    .get-started-watch-btn-card .Watch-the-video-btn div img{
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 576px){
    .get-started-container{
        top: 420px;
        left: 20px;
    }

    .get-started-container .container .description{
        font-size: 12px;
        line-height: 22px;
        width: 99%;
        padding-right: 10px;
        text-align: justify;
    }

    .get-started-container .container .get-started-watch-btn-card{
        flex-direction: column;
    }   

    .get-started-watch-btn-card .get-started-btn{
        border-radius: 14px;
        padding: 14px 42px;
        font-size: 18px;
    }

    .get-started-watch-btn-card .Watch-the-video-btn{
        width: 80%;
        justify-content: center;
    }

    .get-started-watch-btn-card .Watch-the-video-btn p{
        font-size: 16px;
        margin-right: 10px;
        margin-left: 15px;
    }

    .get-started-watch-btn-card .Watch-the-video-btn div img{
        width: 26px;
        height: 26px;
    }
} 

/* Get Started Styling Ends */

/* Space Girl Styling Starts */
.space-girl-container{
    position: absolute;
    z-index: 3;
}

.space-girl-container .container{
    position: relative;
    display: inline;
    left: 520px;
}

@media (min-width: 993px) and (max-width: 1200px){
    .space-girl-container .container{
        top: 0px;
        left: 360px;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .space-girl-container .container{
        top: 0px;
        left: 320px;
    }
}

@media (min-width: 578px) and (max-width: 768px){
    .space-girl-container .container{
        top: 30px;
        left: 240px;
    }
}

@media (max-width: 576px){
    .space-girl-container .container{
        top: 50px;
        left: 40px;
    }
}

/* Space Girl Image Card Styling Starts */
.space-girl-container .container .space-girl-image-card{
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.space-girl-container .container .space-girl-image-card img{
    width: 700px;
}

@media (min-width: 993px) and (max-width: 1200px){
    .space-girl-container .container .space-girl-image-card img{
        width: 600px;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .space-girl-container .container .space-girl-image-card img{
        width: 500px;
    }
}

@media (min-width: 578px) and (max-width: 768px){
    .space-girl-container .container .space-girl-image-card img{
        width: 400px;
    }
}

@media (max-width: 576px){
    .space-girl-container .container .space-girl-image-card img{
        width: 300px;
    }
} 

/* Space Girl Image Card Styling Ends*/

/* Space Girl Exercising Card Styling Starts*/
.space-girl-container .container .exercising-card{
    position: absolute;
    z-index: 2;
    left: 420px;
    top: 280px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background-color: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25), 0px 20px 39px -12px rgba(99, 117, 124, 0.40);
}

.space-girl-container .container .exercising-card .heart-exercising-card{
    display: flex;
    align-items: center;
}

.exercising-card .heart-exercising-card div{
    margin-right: 10px;
}

.exercising-card .heart-exercising-card p{
    color:  var(--headerBlack);
    font-family: var(--fontFamiliy);
    font-size: 18px;
    font-weight: 600;
}

.exercising-card .heart-beat-wavaes{
    align-self: center;
}

@media (min-width: 993px) and (max-width: 1200px){
    .space-girl-container .container .exercising-card{
        left: 380px;
        top: 170px;
        padding: 10px;
    }

    .exercising-card .heart-exercising-card div img{
        width: 38px;
        height: 38px;
    }

    .exercising-card .heart-exercising-card p{
        font-size: 20px;
    }
    
    .exercising-card .heart-beat-wavaes img{
        width: 160px;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .space-girl-container .container .exercising-card{
        left: 290px;
        top: 150px;
        padding: 10px;
    }

    .exercising-card .heart-exercising-card div img{
        width: 32px;
        height: 32px;
    }

    .exercising-card .heart-exercising-card p{
        font-size: 16px;
    }
    
    .exercising-card .heart-beat-wavaes img{
        width: 125px;
    }

}

@media (min-width: 578px) and (max-width: 768px){
    .space-girl-container .container .exercising-card{
        left: 230px;
        top: 150px;
        padding: 10px;
    }

    .exercising-card .heart-exercising-card div img{
        width: 32px;
        height: 32px;
    }

    .exercising-card .heart-exercising-card p{
        font-size: 14px;
    }

    .exercising-card .heart-beat-wavaes img{
        width: 125px;
    }
}

@media (max-width: 576px){
    .space-girl-container .container .exercising-card{
        left: 180px;
        top: 80px;
        padding: 10px;
    }

    .exercising-card .heart-exercising-card div img{
        width: 22px;
        height: 22px;
    }

    .exercising-card .heart-exercising-card p{
        font-size: 12px;
    }
    .exercising-card .heart-beat-wavaes img{
        width: 90px;
    }

} 

/* Space Girl Exercising Card Styling Ends*/

/* Space Girl Space Walk Card Styling Starts*/

.space-girl-container .container .space-walk-card{
    position: absolute;
    z-index: 3;
    left: -50px;
    top: 330px;

    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background-color: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25), 0px 20px 39px -12px rgba(99, 117, 124, 0.40);
}

.space-walk-card .pie-space-walk{
    display: flex;
    align-items: center;
}

.space-walk-card .pie-space-walk .pie-chart-card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: var(--iconBgColor);
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.space-walk-card .pie-space-walk .pie-chart-card img{
    margin-top: 4px;
}


.space-walk-card .pie-space-walk p{
    color: var(--headerBlack);
    font-family: var(--fontFamiliy);
    font-size: 18px;
    font-weight: 600;
}

.space-walk-card .graph-pie-card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-walk-card .graph-pie-card .graph-point{
    margin-right: 10px;
}


@media (min-width: 993px) and (max-width: 1200px){
    .space-girl-container .container .space-walk-card{
        left: -50px;
        top: 280px;
        padding: 10px;
        border-radius: 24px;
    }

    .space-walk-card .pie-space-walk .pie-chart-card{
        width: 38px;
        height: 38px;
    }

    .space-walk-card .pie-space-walk .pie-chart-card img{
        width: 32px;
        height: 32px;    
    }

    .space-walk-card .pie-space-walk p{
        font-size: 22px;
    }

    .space-walk-card .graph-pie-card .graph-point img{
        width: 150px;
    }
    .space-walk-card .graph-pie-card .pie-chart-big img{
        width: 80px;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .space-girl-container .container .space-walk-card{
        left: -50px;
        top: 230px;
        padding: 10px;
        border-radius: 24px;
    }

    .space-walk-card .pie-space-walk .pie-chart-card{
        width: 36px;
        height: 36px;
    }

    .space-walk-card .pie-space-walk .pie-chart-card img{
        width: 30px;
        height: 30px;    
    }

    .space-walk-card .pie-space-walk p{
        font-size: 18px;
    }

    .space-walk-card .graph-pie-card .graph-point img{
        width: 150px;
    }
    .space-walk-card .graph-pie-card .pie-chart-big img{
        width: 80px;
    }
}

@media (min-width: 578px) and (max-width: 768px){
    .space-girl-container .container .space-walk-card{
        left: -50px;
        top: 180px;
        padding: 10px;
        border-radius: 22px;
    }

    .space-walk-card .pie-space-walk .pie-chart-card{
        width: 32px;
        height: 32px;
    }

    .space-walk-card .pie-space-walk .pie-chart-card img{
        width: 28px;
        height: 28px;    
    }

    .space-walk-card .pie-space-walk p{
        font-size: 16px;
    }

    .space-walk-card .graph-pie-card .graph-point img{
        width: 120px;
    }
    .space-walk-card .graph-pie-card .pie-chart-big img{
        width: 65px;
    }
}

@media (max-width: 576px){
    .space-girl-container .container .space-walk-card{
        left: -50px;
        top: 130px;
        padding: 8px;
        border-radius: 16px;
    }

    .space-walk-card .pie-space-walk .pie-chart-card{
        width: 28px;
        height: 28px;
    }

    .space-walk-card .pie-space-walk .pie-chart-card img{
        width: 26px;
        height: 26px;    
    }

    .space-walk-card .pie-space-walk p{
        font-size: 14px;
    }

    .space-walk-card .graph-pie-card .graph-point img{
        width: 100px;
    }
    .space-walk-card .graph-pie-card .pie-chart-big img{
        width: 45px;
    }
} 

/* Space Girl Space Walk Card Styling Ends*/


/* Space Girl Total Time in Space Styling Starts*/

.space-girl-container .container .total-in-space-card{
    position: absolute;
    z-index: 4;
    left: 60px;
    top: 670px;
    width: 460px;
    height: 120px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background-color: var(--headerBlack);
    box-shadow: 0px 20px 39px -12px rgba(99, 117, 124, 0.40);
}

.space-girl-container .container .total-in-space-card .timer-time-card{
    display: flex;
    align-items: center;
}

.total-in-space-card .timer-time-card div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: var(--iconBgColor);
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.total-in-space-card .timer-time-card .time-title{
    color: var(--white);
    font-family: var(--fontFamiliy);
    font-size: 18px;
    font-weight: 600;
}

.total-in-space-card .time{
    color: var(--white);
    font-family: var(--fontFamiliy);
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 12px;
    text-align: right;
}


@media (min-width: 993px) and (max-width: 1200px){
    .space-girl-container .container .total-in-space-card{
        left: 85px;
        top: 560px;
        width: 340px;
        height: 90px;
        padding: 16px;
        border-radius: 22px;
    }

    .total-in-space-card .timer-time-card div{
        width: 34px;
        height: 34px;
    }

    .total-in-space-card .timer-time-card div img{
        width: 30px;
        height: 30px;       
        margin-top: 5px; 
    }

    .total-in-space-card .timer-time-card .time-title{
        font-size: 18px;
    }

    .total-in-space-card .time{
        font-size: 20px;
        text-align: left;
        letter-spacing: 12px;
        margin-top: 5px;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .space-girl-container .container .total-in-space-card{
        left: 75px;
        top: 470px;
        width: 280px;
        height: 80px;
        padding: 12px;
        border-radius: 20px;
    }

    .total-in-space-card .timer-time-card div{
        width: 32px;
        height: 32px;
    }

    .total-in-space-card .timer-time-card div img{
        width: 28px;
        height: 28px;       
        margin-top: 5px; 
    }

    .total-in-space-card .timer-time-card .time-title{
        font-size: 16px;
    }

    .total-in-space-card .time{
        font-size: 18px;
        text-align: left;
        letter-spacing: 8px;
        margin-top: 5px;
    }
}

@media (min-width: 578px) and (max-width: 768px){
    .space-girl-container .container .total-in-space-card{
        left: 55px;
        top: 380px;
        width: 220px;
        height: 80px;
        padding: 10px;
        border-radius: 18px;
    }

    .total-in-space-card .timer-time-card div{
        width: 30px;
        height: 30px;
    }

    .total-in-space-card .timer-time-card div img{
        width: 26px;
        height: 26px;       
        margin-top: 5px; 
    }

    .total-in-space-card .timer-time-card .time-title{
        font-size: 14px;
    }

    .total-in-space-card .time{
        font-size: 16px;
        text-align: left;
        letter-spacing: 6px;
        margin-top: 5px;
    }
}

@media (max-width: 576px){
    .space-girl-container .container .total-in-space-card{
        left: 55px;
        top: 280px;
        width: 180px;
        height: 60px;
        padding: 8px;
        border-radius: 16px;
    }

    .total-in-space-card .timer-time-card div{
        width: 28px;
        height: 28px;
    }

    .total-in-space-card .timer-time-card div img{
        width: 24px;
        height: 24px;       
        margin-top: 5px; 
    }

    .total-in-space-card .timer-time-card .time-title{
        font-size: 12px;
    }

    .total-in-space-card .time{
        font-size: 14px;
        text-align: left;
        letter-spacing: 4px;
        margin-top: 2px;
    }
} 

/* Space Girl Total Time in Space Styling Ends*/
/* Space Girl Styling Starts */
/* Home Section Styling Ends */




/* Branding Section Styling Starts */
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.brand div{
    margin: 0px 20px;
}
/* Branding Section Styling Ends */




/* Section 3 Styling Starts */
.section-3{
    --headerBlack : #020305;
    --white: #FFF;
    --descriptionColor: #171E27;
    --iconBgColor: #A9C2CB;
    --fontFamiliy: Plus Jakarta Sans;
}  

.section-3{
    display: flex;
    justify-content: space-between; 
    padding: 40px;
}

.section-3 .container-1{
    width: 40%;
    align-self: center;
}

.section-3 .container-1 p{
    color: var(--headerBlack);
    font-family: var(--fontFamiliy);
    font-size: 64px;
    font-weight: 800;
}

.section-3 .un-ordered-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 55%;
}

.un-ordered-list li{
    width: 40%;
    margin: 5px;
}

.un-ordered-list li .icon-card{
    width: 100px;
    height: 100px;
    border-radius: 24px;
    background: #A9C2CB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.un-ordered-list li .head-para h1{
    color: var(--headerBlack);
    font-family: var(--fontFamiliy);
    font-size: 24px;
    font-weight: 800;
}

.un-ordered-list li .head-para p{
    color: var(--descriptionColor);
    font-family: var(--fontFamiliy);
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
}



@media (min-width: 1200px){

}

@media (min-width: 993px) and (max-width: 1200px){

}

@media (min-width: 769px) and (max-width: 992px){

}

@media (min-width: 578px) and (max-width: 768px){
    .section-3{
        flex-direction: column;
        padding: 10px;
    }

    .section-3 .container-1{
        width: 100%;
    }

    .section-3 .container-1 p{
        font-size: 32px;
    }

    .section-3 .un-ordered-list{
        align-self: center;
        width: 100%;
    }
}

@media (max-width: 576px){
    .section-3{
        flex-direction: column;
        padding: 10px;
    }

    .section-3 .container-1{
        width: 100%;
    }

    .section-3 .container-1 p{
        font-size: 32px;
    }

    .section-3 .un-ordered-list{
        align-self: center;
        width: 100%;
    }

    .section-3 .un-ordered-list li{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .section-3 .un-ordered-list li .icon-card{
        flex-shrink: 0;
        border-radius: 14px;
        margin-right: 20px;
        width: 52px;
        height: 52px;
    }
    
    .un-ordered-list li .icon-card img{
       width: 34px;
       height: 34px;
    }


    .un-ordered-list li .head-para h1{
        font-size: 18px;
    }

    .un-ordered-list li .head-para p{
        font-size: 14px;
    }

    .un-ordered-list li .icon-card-special{
        margin-right: 20px;
    }
} 
/* Section 3 Styling Ends */




/* Section 4 Styling Starts */
.section-4{
    --headerBlack : #020305;
    --white: #FFF;
    --headerBgBlack: #0D0F12;
    --descriptionColor: #171E27;
    --iconBgColor: #A9C2CB;
    --fontFamiliy: Plus Jakarta Sans;
}

.section-4{
    padding: 40px;
}

.section-4 .postion-container{
    position: relative;
}

.postion-container .bg-container{
    position: absolute;
    z-index: 1;
    background-image: url("https://res.cloudinary.com/dfspkh5oi/image/upload/v1694607733/TechVedika/Cosmos%2013%20Sep/Rectangle_8_susrws.png");
    background-size: cover;
    width: 100%;
    height: 450px;
    border-radius: 40px; 
    display: flex;
    align-items: flex-start;  
}

.postion-container .bg-container h1{
    color: var(--white);
    text-align: center;
    font-family: var(--fontFamiliy);
    font-size: 54px;
    font-weight: 800;
    padding: 0 30px;
}

.postion-container .flex-box-container{
    position: absolute;
    z-index: 2;
    top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.postion-container .flex-box-container .flex-box{
    width: 300px;
    border-radius: 24px;
    background-color: var(--white);
    box-shadow: 0px 20px 39px -12px rgba(99, 117, 124, 0.20);
    margin: 10px 20px;
    padding: 10px;
}

.flex-box-container .flex-box .serial-number{
    color: var(--iconBgColor);
    font-family: var(--fontFamiliy);
    font-size: 64px;
    font-weight: 800;
    line-height: 90px;
    margin: 5px 0;
}

.flex-box-container .flex-box h2{
    color: var(--headerBlack);
    font-family: var(--fontFamiliy);
    font-size: 24px;
    font-weight: 800;
}

.flex-box-container .flex-box p{
    color: var(--descriptionColor);
    font-family: var(--fontFamiliy);
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
}


@media (min-width: 769px) and (max-width: 992px){
    .postion-container .bg-container h1{
        font-size: 38px;
    }
    .flex-box-container .flex-box .serial-number{
        font-size: 34px;
        line-height: 40px;
    }
    .flex-box-container .flex-box .h2{
        font-size: 20px;
    }

    .flex-box-container .flex-box p{
        font-size: 16px;
    }
}

@media (min-width: 578px) and (max-width: 768px){
    .postion-container .bg-container{
        height: 300px;    
    }

    .postion-container .bg-container h1{
        font-size: 32px;
    }

    .section-4 .flex-box-container{
        flex-direction: column;
        top: 180px;
    }
   
    .flex-box-container .flex-box .serial-number{
        font-size: 32px;
        line-height: 40px;
    }
    .flex-box-container .flex-box .h2{
        font-size: 20px;
    }

    .flex-box-container .flex-box p{
        font-size: 16px;
    }
}   

@media (max-width: 576px){
    .postion-container .bg-container h1{
        font-size: 32px;
    }
    
    .section-4 .flex-box-container{
        flex-direction: column;
    }

    .flex-box-container .flex-box .serial-number{
        font-size: 32px;
        line-height: 40px;
    }

    .flex-box-container .flex-box .h2{
        font-size: 20px;
    }

    .flex-box-container .flex-box p{
        font-size: 16px;
    }
} 
/* Section 4 Styling Ends */





/* Section 5 Styling Starts */
.section-5{
    --headerBlack : #020305;
    --white: #FFF;
    --headerBgBlack: #0D0F12;
    --descriptionColor: #171E27;
    --iconBgColor: #A9C2CB;
    --fontFamiliy: Plus Jakarta Sans;
}

.section-5{
    margin: 620px 40px 40px 40px;
    height: 500px;
    border-radius: 40px;
    background-image: url('https://res.cloudinary.com/dfspkh5oi/image/upload/v1694607732/TechVedika/Cosmos%2013%20Sep/Rectangle_504_ue4afs.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
   justify-content: center;
    padding-left: 60px;
    padding-right: 20px;
}

.section-5 h1{
    color: var(--white);
    font-family: var(--fontFamiliy);
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 10px
}
.section-5 p{
    color: var(--white);
    font-family: var(--fontFamiliy);
    font-size: 26px;
    font-weight: 400;
}

.section-5 .email-subscribe{
    display: flex;
    align-items: center;
}

.email-subscribe #email{
    outline: none;
    display: flex;
    padding: 18px 38px;
    margin-right: 20px;
    justify-content: center;
    align-items: center; 
    border-radius: 16px;
    border: 0;
    background-color: var(--ffffff, #FFF);
    font-family: var(--fontFamiliy);
    font-size: 18px;
}

.email-subscribe .subscribe{
    display: flex;
    padding: 18px 54px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 0;
    background-color: var(--a-9-c-2-cb, #A9C2CB);
    box-shadow: 0px 19px 45px -10px rgba(13, 15, 18, 0.50);
    color: var(--white);
    font-family: var(--fontFamiliy);
    font-size: 18px;
    font-weight: 600;
}
.email-subscribe .subscribe:hover{
    color: var(--headerBlack);
}

@media (min-width: 578px) and (max-width: 768px){
    .section-5{
        margin: 1100px 40px 40px 40px;
        height: 350px;
        padding-left: 40px;
    }

    .section-5 h1{
        font-size: 42px;
    }

    .section-5 p{
        font-size: 18px;
    }

    .email-subscribe #email{
        padding: 20px 16px;
        font-size: 16px;
    }

    .email-subscribe .subscribe{
        font-size: 16px;
    }
}

@media (max-width: 576px){
    .section-5{
        margin: 1150px 20px 20px 20px;
        height: 300px;
        padding-left: 20px;
        border-radius: 16px;
    }

    .section-5 h1{
        font-size: 28px;
    }

    .section-5 p{
        font-size: 14px;
    }

    .section-5 .email-subscribe{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .email-subscribe #email{
        font-size: 16px;
        padding: 18px 14px;
        margin-right: 0;
        margin-bottom: 10px;
        width: 95%;
    }

    .email-subscribe .subscribe{
        font-size: 16px;
        padding: 16px 42px;
        width: 100%;
    }
} 
/* Section 5 Styling Ends */




/* Footer Section Styling Starts */
.footer{
    --headerBlack : #020305;
    --white: #FFF;
    --headerBgBlack: #0D0F12;
    --descriptionColor: #171E27;
    --iconBgColor: #A9C2CB;
    --fontFamiliy: Plus Jakarta Sans;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.footer .footer-top-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top-container .logo-card img{
    width: 150px;
}

.footer-top-container .card-2{
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.footer-top-container .card-2 li a{
    color: var(--headerBlack);
    font-family: var(--fontFamiliy);
    font-size: 18px;
    font-weight: 600;
}

.footer-top-container .card-3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

.footer-top-container .card-3 a{
    color: var(--descriptionColor);
    font-family: var(--fontFamiliy);
    font-size: 18px;
    font-weight: 600;
}

.footer .footer-bottom-container p a{
    color: #5C5050;
    font-size: 22px;
    font-weight: 700;
    font-family: var(--fontFamiliy);
}


@media (min-width: 769px) and (max-width: 992px){
    .footer{
        padding: 26px;
    }
    .footer .footer-top-container{
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .footer .footer-top-container .card-3{
        margin-top: 10px;
    }
}

@media (min-width: 578px) and (max-width: 768px){
    .footer{
        padding: 22px;
    }
    .footer .footer-top-container{
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .footer .footer-top-container .card-3{
        margin-top: 10px;
    }
}

@media (max-width: 576px){
    .footer{
        padding: 20px;
    }
    .footer .footer-top-container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .footer-top-container .logo-card {
        align-self: center;
        margin-bottom: 10px;
    }

    .footer-top-container .card-2{
        flex-direction: column;
        margin-bottom: 10px;
        align-self: center;
        align-items: center;
    }

    .footer-top-container .card-2 li{
        margin-bottom: 5px;
    }

    .footer-top-container .card-3{
        margin-bottom: 10px;
        flex-direction: column;
        align-self: center;
    }

    .footer-bottom-container{
        align-self: center;
    }
} 
/* Footer Section Styling Ends */