.section-4{
    --headerBlack : #020305;
    --white: #FFF;
    --headerBgBlack: #0D0F12;
    --descriptionColor: #171E27;
    --iconBgColor: #A9C2CB;
    --fontFamiliy: Plus Jakarta Sans;
}

.section-4{
    padding: 40px;
}

.section-4 .postion-container{
    position: relative;
}

.postion-container .bg-container{
    position: absolute;
    z-index: 1;
    background-image: url("https://res.cloudinary.com/dfspkh5oi/image/upload/v1694607733/TechVedika/Cosmos%2013%20Sep/Rectangle_8_susrws.png");
    background-size: cover;
    width: 100%;
    height: 450px;
    border-radius: 40px; 
    display: flex;
    align-items: flex-start;  
}

.postion-container .bg-container h1{
    color: var(--white);
    text-align: center;
    font-family: var(--fontFamiliy);
    font-size: 54px;
    font-weight: 800;
    padding: 0 30px;
}


.postion-container .flex-box-container{
    position: absolute;
    z-index: 2;
    top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.postion-container .flex-box-container .flex-box{
    width: 300px;
    border-radius: 24px;
    background-color: var(--white);
    box-shadow: 0px 20px 39px -12px rgba(99, 117, 124, 0.20);
    margin: 10px 20px;
    padding: 10px;
}

.flex-box-container .flex-box .serial-number{
    color: var(--iconBgColor);
    font-family: var(--fontFamiliy);
    font-size: 64px;
    font-weight: 800;
    line-height: 90px;
    margin: 5px 0;
}

.flex-box-container .flex-box h2{
    color: var(--headerBlack);
    font-family: var(--fontFamiliy);
    font-size: 24px;
    font-weight: 800;
}

.flex-box-container .flex-box p{
    color: var(--descriptionColor);
    font-family: var(--fontFamiliy);
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
}


@media (min-width: 769px) and (max-width: 992px){
    .postion-container .bg-container h1{
        font-size: 38px;
    }
    .flex-box-container .flex-box .serial-number{
        font-size: 34px;
        line-height: 40px;
    }
    .flex-box-container .flex-box .h2{
        font-size: 20px;
    }

    .flex-box-container .flex-box p{
        font-size: 16px;
    }
}

@media (min-width: 578px) and (max-width: 768px){
    .postion-container .bg-container{
        height: 300px;    
    }

    .postion-container .bg-container h1{
        font-size: 32px;
    }

    .section-4 .flex-box-container{
        flex-direction: column;
        top: 180px;
    }
   
    .flex-box-container .flex-box .serial-number{
        font-size: 32px;
        line-height: 40px;
    }
    .flex-box-container .flex-box .h2{
        font-size: 20px;
    }

    .flex-box-container .flex-box p{
        font-size: 16px;
    }
}   

@media (max-width: 576px){
    

    .postion-container .bg-container h1{
        font-size: 32px;
    }
    
    .section-4 .flex-box-container{
        flex-direction: column;
    }

    .flex-box-container .flex-box .serial-number{
        font-size: 32px;
        line-height: 40px;
    }

    .flex-box-container .flex-box .h2{
        font-size: 20px;
    }

    .flex-box-container .flex-box p{
        font-size: 16px;
    }
} 