.section-3{
    --headerBlack : #020305;
    --white: #FFF;
    --descriptionColor: #171E27;
    --iconBgColor: #A9C2CB;
    --fontFamiliy: Plus Jakarta Sans;
}  

.section-3{
    display: flex;
    justify-content: space-between; 
    padding: 40px;
}

.section-3 .container-1{
    width: 40%;
    align-self: center;
}

.section-3 .container-1 p{
    color: var(--headerBlack);
    font-family: var(--fontFamiliy);
    font-size: 64px;
    font-weight: 800;
}

.section-3 .un-ordered-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 55%;
}

.un-ordered-list li{
    width: 40%;
    margin: 5px;
}

.un-ordered-list li .icon-card{
    width: 100px;
    height: 100px;
    border-radius: 24px;
    background: #A9C2CB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.un-ordered-list li .head-para h1{
    color: var(--headerBlack);
    font-family: var(--fontFamiliy);
    font-size: 24px;
    font-weight: 800;
}

.un-ordered-list li .head-para p{
    color: var(--descriptionColor);
    font-family: var(--fontFamiliy);
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
}



@media (min-width: 1200px){

}

@media (min-width: 993px) and (max-width: 1200px){

}

@media (min-width: 769px) and (max-width: 992px){

}

@media (min-width: 578px) and (max-width: 768px){
    .section-3{
        flex-direction: column;
        padding: 10px;
    }

    .section-3 .container-1{
        width: 100%;
    }

    .section-3 .container-1 p{
        font-size: 32px;
    }

    .section-3 .un-ordered-list{
        align-self: center;
        width: 100%;
    }
}

@media (max-width: 576px){
    .section-3{
        flex-direction: column;
        padding: 10px;
    }

    .section-3 .container-1{
        width: 100%;
    }

    .section-3 .container-1 p{
        font-size: 32px;
    }

    .section-3 .un-ordered-list{
        align-self: center;
        width: 100%;
    }

    .section-3 .un-ordered-list li{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .section-3 .un-ordered-list li .icon-card{
        flex-shrink: 0;
        border-radius: 14px;
        margin-right: 20px;
        width: 52px;
        height: 52px;
    }
    
    .un-ordered-list li .icon-card img{
       width: 34px;
       height: 34px;
    }


    .un-ordered-list li .head-para h1{
        font-size: 18px;
    }

    .un-ordered-list li .head-para p{
        font-size: 14px;
    }

    .un-ordered-list li .icon-card-special{
        margin-right: 20px;
    }
} 