/* Common Styling Starts */
body{
  box-sizing: border-box;
  margin: 0;
  --primary-color-light: #2EB6AE;
  --primary-color-dark: #008080 ;
  --black: #000;
  --grey: #666;
  --white: #FFF;
}

/* Color Classes for Text */
.c-primary-light{color: var(--primary-color-light) !important;}
.c-primary-dark{color: var(--primary-color-dark);}
.c-black{color: var(--black);}
.c-grey{color: var(--grey);}
.c-white{color: var(--white);}


/* Background Color Classes */
.bg-primary-light{background-color: var(--primary-color-light);}
.bg-primary-dark{background-color: var(--primary-color-dark);}
.bg-grey{background-color: #F8F7F7;}

/* Font Styles */
.roboto-font{
  font-family: Roboto, sans-serif !important;
}

.hover-primary-color:hover{
  color: var(--primary-color-light) !important;
}

.hover-black:hover{
  color: var(--black) !important;
}

.hover-bg-white:hover{
  background-color: var(--white) !important;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--white);
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color-light);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover{
  color: var(--primary-color-dark) !important;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-fill-animation {
  display: inline-block;
  position: relative;
  color: var(--white);
}

.hover-fill-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(46, 182, 174, 0.2);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.hover-fill-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a{
  text-decoration: none !important;
  cursor: pointer !important;
}

hr{
  border-color: var(--black);
  opacity: 0.5;
}

/* Common Styling Ends */



/* Header Section Styling Starts */
.navbar{
/* 
  @media screen and (min-width: 991px) {
    .dropdown:hover > .dropdown-menu{
        display: block;
        margin-top: 1%;
    }
  } */

  .navbar-brand .doing-right{
    font-size: 10px;
  }

  .navbar-collapse .nav-item .nav-link{
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
  }

  @media all and (min-width: 992px) and (max-width: 1200px){
    .navbar-collapse .nav-item .nav-link{
      font-size: 14px;
    }      
  }

  .navbar-collapse .nav-item .hover-underline-animation {
    color: var(--white);
  }

  .navbar-collapse .nav-item .show{
    color: var(--primary-color-light) !important;
  }

  @media all and (max-width: 991px) {
    .megamenu{
      max-height: 60vh;
      overflow-y: scroll;
    }
  }
  
  .has-megamenu{
    position:static!important;
  }
  
  .megamenu{
    left:0; right:0;
    width:100%; margin-top:0;
    background-color: transparent;
    border: 0;
  }

  .megamenu .container .main-row{
    background-color: #F8F7F7;
    border-radius: 4px;
    box-shadow: 0 0 8px #888888;
  }

  .megamenu .container .main-row a h2{
    font-size: 32px;
    font-weight: 600;
  }
 
  .megamenu h6.title {
    color: var(--black);
    font-size: 16px;
  }
  .megamenu .container .main-row a h2 span{
    font-size: 18px;
  }

  @media all and (max-width: 991px){
    .megamenu .container .main-row a h2{
      font-size: 22px;
    }

    .megamenu .container .main-row a h2 span{
      font-size: 12px;
    }
  }

  @media all and (min-width: 992px){
    .megamenu-h2-break{
      display: none;
    }
  }

  .megamenu .sub-row .list-unstyled{
    padding-left: 40px;
  }

  .megamenu .sub-row .list-unstyled li a{
    color: var(--black);
    font-weight: 350;
  }

  .solutions-nav img.sol-logo{
    width: 165px;
    margin-bottom: 6px;
  }

  .megamenu .container .main-row .ul-column-3 a{
    font-size: 16px;
    color: var(--black);
  }
  .megamenu .sub-row .col-lg-5 .hover-underline-animation{
    color: var(--black);
  }

  .navbar-collapse .contact-us-btn{
    font-size: 16px;
  }

  .navbar-collapse .contact-us-btn:hover{
    background-color: var(--primary-color-dark);
    color: var(--white) !important;
  }

  @media all and (min-width: 992px) and (max-width: 1200px){
    .navbar-collapse .contact-us-btn{
      font-size: 14px;
    } 
  }
  .navbar-collapse .search-btn{
    border: 0;
    background-color: transparent;
  }
  
  /* ============ desktop view .end// ============ */
}
/* Header Section Styling Ends */



/* Home Slider Styling Starts */
.home-slider{

  .home-banner{
    height: 100%;
    min-height: 60vh;
    max-height: 70vh;
  }

  @media all and (max-width: 576px){
    .home-banner{
      min-height: 80vh;
    }
  }

  .home-banner video{
    width: auto;
  }

  .home-banner .img-fluid{
    max-width: 50%;
  }

  @media all and (max-width: 768px){
    .home-banner .img-fluid{
      max-width: 80%;
    }
  }

  .home-banner .aide-banner-logo div p{
    background-color: var(--white);
    color: var(--black);
    border-radius: 10px;
    font-size: 16px;
  }

  .home-banner .aide-banner-logo div p a{
    color: var(--black);
  }

  @media all and (min-width: 992px){
    .home-banner .aide-banner-logo div p{
      width: 30%;
    }
  }

}
/* Home Slider Styling Ends */



/* Stack Section Styling Starts */
.stack-section{
  .line-kepal{
    width: 3px;
    background-color: var(--primary-color-light);
    height: 100%;
  }

  .year-25{
    font-size: 38px;
    font-weight: 300;
    color: var(--grey);
    margin-left: 10px;
  }

  .stack-text-link-wrapper .stack-text{
    font-weight: normal;
    font-size: 18px;
  }

  .stack-text-link-wrapper .hoverarow .hover-underline-animation{
    color: var(--primary-color-light);
  }

  @media all and (max-width: 768px){
    .year-25{
      font-size: 28px;
    }
    .stack-text-link-wrapper .stack-text{
      font-size: 16px;
    }
  }
}
/* Stack Section Styling Ends */



/* Client Number Section Styling Starts */
/* Client Number Section Styling Ends */



/* Fly Wheel Section Styling Starts */
.fly-wheel-section{
  .img-fluid{
    cursor: pointer;
    transition: transform 2s;
    transition-timing-function: linear;
    border-radius: 80%;
  }
  .img-fluid:hover{
    transform: rotate(360deg);
  }

  .small-line-left{
    color: var(--black);
  }

  .display-6{
    color: var(--black);
  }
  .hoverarow a{
    color: var(--primary-color-light);
  }
}
/* Fly Wheel Section Styling Ends */



/* Our Work Section Styling Ends*/
.our-work-section{
  .hover-container{
    cursor: pointer;
  }

  .hover-image-container{
    height: 300px;
    border-radius: 10px;
    background-image: url('https://d1k5qim9574h9e.cloudfront.net/wp-content/uploads/2023/06/technology-innovation-and-problem-solvings.jpeg');
    background-size: cover;
    background-position: top;
    transition: transform 0.5s;
  }

  .hover-container:hover .hover-image-container{
    transform: scale(1.1);
  }

  .hover-fill-animation{
    color: var(--white);
  }

  .hover-primary-color{
    color: var(--white);
  }

  .warapper-img-1{
    background-image: url('https://d1k5qim9574h9e.cloudfront.net/wp-content/uploads/2023/03/legacy-modernization-enterprise-it-asset-disposition-thumbnail.jpg');
    height: 220px;
  }

  .warapper-img-2{
    background-image: url('https://d1k5qim9574h9e.cloudfront.net/wp-content/uploads/2023/03/m7-Header-Card.jpg');
    height: 220px;
  }

  .warapper-img-3{
    background-image: url('https://d1k5qim9574h9e.cloudfront.net/wp-content/uploads/2023/03/software-quality-engineering-testing-for-aviation-industry-thumbnail.jpg');
    height: 220px;
  }

  .children {
    display: none;
    background-size: cover;
    background-position: center;
    transition: all 2s;
    cursor: pointer;
  }

  .wrapper-container:hover .children:before, .wrapper-container:focus .children:before {
    display: block;
  }

  .wrapper-container:hover .children, .wrapper-container:focus .children {
    display: block;
  }

  .children:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.8);
  }

  .children p.hover-fill-animation{
    color: gray;
  }

  .children button.hover-fill-animation:after{
    background-color: transparent;
  }
}
/* Our Work Section Styling Ends */
