/* Common Styling Starts */
body{
  box-sizing: border-box;
  margin: 0;
  --primary-color-light: #2EB6AE;
  --primary-color-dark: #008080 ;
  --black: #000;
  --grey: #666;
  --white: #FFF;
}

/* Color Classes for Text */
.c-primary-light{color: var(--primary-color-light);}
.c-primary-dark{color: var(--primary-color-dark);}
.c-black{color: var(--black);}
.c-grey{color: var(--grey);}
.c-white{color: var(--white);}


/* Background Color Classes */
.bg-primary-light{background-color: var(--primary-color-light);}
.bg-primary-dark{background-color: var(--primary-color-dark);}

/* Font Styles */
.roboto-font{
  font-family: Roboto, sans-serif !important;
}

.hover-primary-color:hover{
  color: var(--primary-color-light) !important;
}

.hover-black:hover{
  color: var(--black) !important;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--white);
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color-light);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover{
  color: var(--primary-color-dark) !important;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a{
  text-decoration: none;
}

hr{
  border-color: var(--black);
  opacity: 0.5;
}

/* Common Styling Ends */



/* Header Section Styling Starts */
.navbar{
  .navbar-brand .doing-right{
    font-size: 10px;
  }

  .navbar-collapse .nav-item .nav-link{
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;

  }

  .navbar-collapse .nav-item .hover-underline-animation {
    color: var(--white);
  }

  .navbar-collapse .nav-item .show{
    color: var(--primary-color-light) !important;
  }

  @media all and (max-width: 991px) {
    .megamenu{
      max-height: 60vh;
      overflow-y: scroll;
    }
  }

  @media all and (min-width: 992px) {
    .has-megamenu{
      position:static!important;
    }
    
    .megamenu{
      left:0; right:0;
      width:100%; margin-top:0;
      background-color: transparent;
      border: 0;
    }

    .megamenu .container .main-row{
      background-color: #F8F7F7;
      border-radius: 4px;
      box-shadow: 0 0 8px #888888;
    }

    .megamenu .container .main-row a h2{
      font-size: 32px;
      font-weight: 600;
    }
   
    .megamenu h6.title {
      color: var(--black);
      font-size: 16px;
    }

    .megamenu .sub-row .list-unstyled{
      padding-left: 40px;
    }

    .megamenu .sub-row .list-unstyled li a{
      color: var(--black);
      font-weight: 350;
    }

    .solutions-nav img.sol-logo{
      width: 165px;
      margin-bottom: 6px;
    }

    .megamenu .container .main-row .ul-column-3 a{
      font-size: 16px;
      color: var(--black);
    }

    .megamenu .sub-row .col-lg-5 .hover-underline-animation{
      color: var(--black);
    }

  }


 
  /* ============ desktop view .end// ============ */
}
/* Header Section Styling Ends */